<p id="notice"><%= notice %></p>


<%= image_tag @desk.thumbnail.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @desk.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @desk.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @desk.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @desk.address %>
</p>

<p>
  <strong>Desk Type:</strong>
  <%= @desk.desk_type %>
</p>

<h3>Nearby desks:</h3>
<% for desk in @desk.nearbys(20) %>
<li><%= link_to desk.address, desk %> (<%=  desk.distance.round(2)%>km) </li>
<% end %>


<p>
<%= link_to 'Edit', edit_desk_path(@desk), class: "btn btn-link" %> |
<%= link_to 'Back', desks_path, class: "btn btn-link" %>
</p>