<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @desk.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @desk.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @desk.price %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @desk.availability %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @desk.amenities %>
</p>

<p>
  <strong>Desk type:</strong>
  <%= @desk.desk_type %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @desk.thumbnail %>
</p>

<%= link_to 'Edit', edit_desk_path(@desk), class: "btn btn-link" %> |
<%= link_to 'Back', desks_path, class: "btn btn-link" %>
