<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArsl-XQJAItpNqLaPfi2TRzPFiPMik75U"
  type="text/javascript"></script>
<script> var locations = <%== @listings %></script>
  <div class="row">
    <div id="map_wrapper">
    <div id="map">
      
    </div>
</div>
   <% for desk in @desks %>
    <div class="col-md-6">
      <div class="thumbnail">
        <%= image_tag desk.thumbnail.url %> 
         <div class="caption">
            <h3><%= desk.title %></h3>
            <h4><%= desk.description %></h2>
            <p><%= number_to_currency(desk.price) %>/week</p>
            <p><%= desk.address %></p>
             <%= link_to 'Show', desk, class: "btn btn-link" %>
             <%= link_to 'Edit', edit_desk_path(desk), class: "btn btn-link" %>
              <%= link_to 'Destroy', desk, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
         </div>
     </div>     
  </div>
    <% end %>
</div>
