<p id="notice"><%= notice %></p>

<div class="row">
 
    <iframe
  width="635"
  height="325"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJg0HiO2KtvExTuiWB6rKhmUUsHXFk6dY
        &q=<%= @desk.address.parameterize %>&zoom=14">>
    </iframe>
    <iframe
  width="635"
  height="325"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyBJg0HiO2KtvExTuiWB6rKhmUUsHXFk6dY
        &location=<%= @desk.latitude %>,<%= @desk.longitude %>">>
    </iframe>

  <div class="col-md-12">
      <div class="show">
            <div class="col-md-5">
              <%= image_tag @desk.thumbnail.url if @desk.thumbnail.url.present? %>
            </div>
            <div class="col-md-7">
                
                <div class="col-md-12">
                    <div class='col-md-3'>
                      <br>
                      <div class="star-rating" data-score= <%= @avg_rating %> ></div> <%= "#{@reviews.length} reviews" %>
                    </div>
                    <div class='col-md-3'>
                          <div class="form-group">
                              <div class='input-group date' id='datetimepicker9'>
                                          <input type='text' class="form-control" />
                                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                          </span>
                              </div>
                          </div>
                    </div>
                    <div class='col-md-3'>
                          <div class="form-group">
                              <div class='input-group date' id='datetimepicker10'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    
                               </div>
                          </div>
                    </div>
                    <div class='col-md-3'>
                        <br>
                        <div class="btn btn-primary">
                          Book Now!
                        </div>
                  </div>
              <div class="col-md-12">
                <h2><%= @desk.title %></h2> $<%= @desk.price %>/week $<%= (@desk.price)/7 %>/day 
              </div>
            </div>
        </div>
      </div>
  
  
  <h3><%= @desk.description %></h3>
  
   <p></p>
   <% if @reviews.blank? %>
             <h2>No reviews yet. Be the first to write one!</h2>
         <% else %>
          <table class="table">
              <tbody>
                <% @reviews.each do |review| %>
                  <tr>
                    <td>
                      <div class="star-rating" data-score= <%= review.rating %> ></div>
                       <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
                    </td>
                  </tr>
                <% end %>
              </tbody>
         </table>
   <% end %>
        <%= link_to 'Write A Review', new_desk_review_path(@desk), class: "btn btn-primary" %>        


    <h3>Nearby desks:</h3>
      <% for desk in @desk.nearbys(20) %>
      <li><%= link_to desk.address, desk %> (<%=  desk.distance.round(2)%>km) </li>
      <% end %>

    <% if @current_user.present? && @current_user.id == desk.user_id %>
        <%= link_to 'Edit', edit_desk_path(@desk), class: "btn btn-link" %> |
        <%= link_to 'Back', desks_path, class: "btn btn-link" %>
         <% end %>




</div>
      

 



<script>
  $('.star-rating').raty({ path:'/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
