<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @venue.location %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @venue.contact %>
</p>

<p>
  <strong>No desks:</strong>
  <%= @venue.no_desks %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
