<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/assets/desker_logo_black_small.svg" alt="" id="nav-logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <!--  <ul class="nav navbar-nav">
        <li class="active"><a href="/pages/about">About <span class="sr-only">(current)</span></a></li>
        <li><a href="/pages/contact">Contact</a></li>
      </ul> -->


      <!-- Button trigger modal -->
<label type="button" class="nav navbar-nav" data-toggle="modal" data-target="#myModal">
  <%= link_to 'New Desk', new_desk_path, class: "btn btn-link" %>
</label>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">List Your Space</h4>
      </div>
      <div class="modal-body">
        <%= render 'desks/form' %>
      </div>

    </div>
  </div>
</div>
        <%= form_tag search_desks_path, method: :get, class: "navbar-form navbar-left" do %>
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Find your desk" %>
        <% end %>

      <!-- Dropdown menu for user profile -->
      <% if @current_user.present? %>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="profile-image" data-toggle="dropdown" role="button" aria-expanded="false"> <%= @current_user.name %> <%= image_tag @current_user.avatar %><span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <!--<li><%= "Welcome " + "#{ @current_user.name }" %></li>
              <li class="divider"></li>-->
              <li><%== intellinav %></li>
            </ul>
          </li>
        </ul>
       <% else %>
       <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Log in', login_path, :method => 'get', :class => "btn btn-link" %>
        </li>
        <li>
          <%= link_to 'Sign Up', new_user_path, :method => 'get', :class =>  "btn btn-link" %>
        </li>
        </ul>
      <% end  %>




      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>